.menuCard {
  display: flex;
  margin: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
}

.menuCard-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 30%;
  margin-left: 40px;
}

.price::before {
  content: "₹";
}

.menuCard-price p {
  margin: 0;
}

.menuCard-name h5 {
  margin: 0;
}

.menuCard-image-wrapper img {
  border-radius: 8px;
}

.menuCard-veg-icon {
  border: 1.8px green solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  > svg {
    color: green;
  }
}

.menuCard-non-veg-icon {
  border: 1.8px rgb(223, 33, 33) solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  > svg {
    color: rgb(223, 33, 33);
    font-size: small;
  }
}

.menuCard-add-to-cart-wrapper {
  padding: 10px;
  padding-left: 100px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .menuCard {
    width: 80%;
  }
  .menuCard-add-to-cart-wrapper {
    padding-left: 20px;
  }
  .menuCard-content-wrapper {
    margin-left: 10px;
  }
}

@media screen and (max-width: 640px) {
  .menuCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
    width: 90%;
  }

  .menuCard-image-wrapper {
    margin-bottom: 14px;
  }

  .menuCard-add-to-cart-wrapper {
    padding: 0;
    margin-bottom: 14px;
  }

  .menuCard-content-wrapper {
    margin: 0;
    margin-bottom: 14px;
  }
}
