.cart-amount-btn {
  border: none;
  background-color: white;
  font-size: larger;
  padding: 10px;
  border-radius: 12px;
}

.cart-amount-btn:hover {
  background-color: var(--clr-grey-10);
}

.cart-amount {
  font-size: xx-large;
  width: 38px;
  text-align: center;
}
