.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  padding: 10px;
}

.modal-container {
  height: 400px;
  width: 350px;
  background-color: white;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-grey-5);
  margin-bottom: 40px;
}

.modal-title svg {
  font-size: larger;
}
.modal-title svg:hover {
  color: red;
}

.modal-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.modal-form input {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 20px;
  font-size: larger;
  border: 2px var(--clr-grey-6) solid;
  outline: var(--clr-grey-6);
  border-radius: 4px;
}
.modal-form input:focus {
  outline: 2px var(--clr-grey-3) solid;
}
.modal-form {
  margin-bottom: 20px;
}

.modal-form-btn {
  width: 100%;
}

.orderPlacedModal-img img {
  height: 100px;
  width: 100px;
  background-color: transparent;
}

.orderPlacedModal-content-wrapper div {
  margin-bottom: 20px;
}

.orderPlacedModal-heading h4 {
  text-align: center;
}

.orderPlacedModal-description p {
  font-weight: bold;
  text-align: center;
}
