.cartItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}

.cartItem div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem-img-wrapper {
  flex-direction: column;

  padding-top: 10px;
  width: fit-content;
  flex-basis: 0;
  > h5,
  p {
    margin: 0;
    text-align: center;
  }
}

.cartItem-img-wrapper img {
  border-radius: 8px;
}

.cartItem-del-btn {
  border: 1px transparent solid;
  background-color: rgb(236, 59, 67);
  color: white;
  border-radius: 4px;
  padding: 8px;
}

.cartItem-del-btn:hover {
  color: rgb(236, 59, 67);
  background-color: white;
  border: 1px rgb(236, 59, 67) solid;
}

.cartItem-subtotal-wrapper {
  color: green;
  font-weight: 500;
  width: 50px;
}

@media screen and (max-width: 700px) {
  .cartItem {
    flex-direction: column;
  }
}
