.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  transition: all 0.3s linear;
  transform: translate(-100%);
  z-index: -1;
  padding: 5%;
}

.showSidebar {
  z-index: 1000;
  transform: translate(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header-cancle-btn svg {
  font-size: 1.5rem;
  color: rgb(208, 29, 29);
  cursor: pointer;
  margin-bottom: 8px;
}

.sidebar-header-cancle-btn svg:hover {
  color: red;
}

.sidebar-links-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.sidebar-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-links-wrapper div {
  padding: 1.4rem;
  text-align: center;
  font-size: 1.2rem;
  width: 100vw;
  color: black;
  transition: all 0.2s linear;
}

.sidebar-links-wrapper div:nth-child(-n + 4):hover {
  > a {
    color: white;
    font-size: 1.4rem;
  }
  background-color: rgb(247, 205, 124);
}
